// If you'd like to override the default keybindings completely, be sure to change "keybinds" to "keybinds clear-defaults=true"
keybinds {
    normal {
    }
    locked {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    resize {
    }
    pane {
    }
    move {
    }
    tab {
    }
    scroll {
    }
    search {
    }
    entersearch {
    }
    renametab {
    }
    renamepane {
    }
    session {
    }
    tmux {
    }
    shared_except "locked" {
        bind "Esc" { SwitchToMode "Locked"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//    - true
//    - false (Default)
//
// simplified_ui true

// Default: $SHELL
//
// default_shell "nu"

// default_cwd "/stash"

// pane_frames true

// auto_layout true

// session_serialization false

// serialize_pane_viewport true

// scrollback_lines_to_serialize 10000

// themes {
//     dracula {
//         fg 248 248 242
//         bg 40 42 54
//         red 255 85 85
//         green 80 250 123
//         yellow 241 250 140
//         blue 98 114 164
//         magenta 255 121 198
//         orange 255 184 108
//         cyan 139 233 253
//         black 0 0 0
//         white 255 255 255
//     }
// }

// theme "default"

// The name of the default layout to load on startup
// Default: "default"
//
default_layout "compact"

// default_mode "locked"

// mouse_mode false

// scroll_buffer_size 10000

// copy_command "wl-copy"                    // wayland

//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// copy_on_select false

// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/local/bin/emacs"

// mirror_session true

// layout_dir "/path/to/my/layout_dir"

// theme_dir "/path/to/my/theme_dir"

// styled_underlines false