layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
      pane command="nu" {
        args "-e" "(sys).host"
      }
      pane split_direction="horizontal" stacked=true {
        pane command="emacsclient" {
          args "-a=''" "-nw" "."
        }
        pane command="sbcl"
        pane command="btm"
      }
    }
}