[Unit]
Description=Heptapod RHGitaly Server
After=network.target

[Service]
User=heptapod
Group=heptapod
# HGRCPATH not needed yet but probably will be at some point
Environment=HGRCPATH=/etc/heptapod.hgrc
Environment=RHGITALY_LISTEN_URL=unix:///run/user/1001/rhgitaly.socket
Environment=RHGITALY_REPOSITORIES_ROOT=/home/hg/repositories
ExecStartPre=/usr/bin/rm -f /run/user/1001/rhgitaly.socket
ExecStart=/usr/local/bin/rhgitaly
Restart=on-failure
